<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Translating App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="icon" src="wufyshv">
</head>

<body>
  <div class="container">
    <h1>Convert Hello To</h1>
    <form method="post" action="en">
      <button class="btn btn-outline-danger">
        <i href="/en"> Get in English</i>
      </button>
    </form>
    <form method="post" action="ko">
      <button class="btn btn-outline-danger">
        <i href="/en"> Get in Korean</i>
      </button>
    </form>
    <form method="post" action="ja">
      <button class="btn btn-outline-danger">
        <i href="/en"> Get in Japanese</i>
      </button>
    </form>
  </div>
</body>

</html>